---
import Layout from "@/layouts/Layout.astro";
import { Character, db, eq } from "astro:db";
import {
    Card,
    CardTitle,
    CardContent,
    CardHeader,
} from "../../components/ui/card";

const user = Astro.locals.user;

if (!user) {
    return Astro.redirect("/login");
}

const characters = await db
    .select({ name: Character.name, id: Character.id, lvl: Character.lvl })
    .from(Character)
    .where(eq(Character.userId, user.id));
---

<Layout title="Characters">
    <h1>Choose a character:</h1>
    {
        characters.map((char) => {
            return (
                <a href={`/characters/${char.id}`}>
                    <Card className="hover:bg-primary/60 hover:translate-x-1 hover:translate-y-1 transition-all">
                        <CardHeader>
                            <CardTitle>{char.name}</CardTitle>
                        </CardHeader>
                        <CardContent>Level: {char.lvl}</CardContent>
                    </Card>
                </a>
            );
        })
    }
</Layout>
