---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const user = Astro.locals.user;

if (user) {
    return Astro.redirect("/home");
}
---

<Layout title="DnD Helper">
    <main class="flex h-full flex-col items-center justify-center gap-4">
        <h1 class="text-6xl">Test links (WIP)</h1>
        <ul
            role="list"
            class="flex w-full max-w-[400px] flex-col items-stretch gap-4"
        >
            <Card href="/login" title="Login" body="Get in here" />
            <Card
                href="/signup"
                title="Sign Up"
                body="Become able to get in here"
            />
        </ul>
    </main>
</Layout>
